name: Frontend Changelog Check (Exists/Naming)

on:
    pull_request:
        types: [opened, synchronize]
        branches: 
            - preprod
            - main

jobs:
    changelog-check:
        name: 'Call changelog-check reusable workflow'
        uses: SOME REUSABLE WORKFLOW