name: Frontend Changelog Check (Exists/Naming)

on:
    workflow_dispatch:
    pull_request:
        types: [opened, synchronize]
        branches: 
            - preprod
            - main

jobs:
    changelog-check:
        name: 'Call changelog-check reusable workflow'
        uses: org-mushroom-kingdom/ttn-workflows/.github/workflows/changelog-quality-checks.yml@master
        # secrets:
        #     # This token is needed to checkout the ttn-workflows repo. GITHUB_TOKEN is scoped to the repository the workflow is in, so it won't work
        #     token: ${{ secrets.MAKE_A_TOKEN }}
        